.menu-btn {
  height: 50px;
  padding: 0 20px;
  box-sizing: content-box;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  transition: background-color 0.3s;
  user-select: none;
  cursor: pointer;
}
