.page,
.home-wrapper {
  width: 100%;

  min-width: 800px;
  background-color: rgba(198, 225, 255, 0.7);
  .page-content-header {
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    .header-title {
      padding-top: 300px;
      height: 300px;
      width: 500px;
      margin-left: 100px;
      text-align: left;
      h1:first-child {
        transition: 1s ease-out;
        font-size: 40px;
      }
      h1:nth-child(2) {
        transition: 1.5s ease-in;
        font-size: 35px;
      }
    }
  }
  .page-content-wrapper {
    // for page-content width 80%
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page-content {
    // display: flex;
    // justify-content: space-around;
    gap: 10px;
    width: 80%;
  }
}

.intro-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  width: 100%;
  height: 400px;
  max-width: 420px;
  margin: 15px 0px;
  padding: 0px 15px;
  border: 8px solid #5a91f7;
  border-radius: 10px;
  box-sizing: border-box;
  transition: 0.4s ease-out;
  h3 {
    width: fit-content;
    font-size: 30px;
    line-height: 50px;
    width: 290px;
  }
  &:hover {
    h3 {
      transition: color 0.5s ease-out;
      color: #5a91f7;
      border: 2px solid rgba(0, 0, 0, 0.5);
    }
    transform: translate(-13px, -10px);
  }
  p {
    font-weight: bold;
  }
}

.dev-wrapper {
  width: 100%;
  height: 150px;
  background-color: #5a91f7;
}

.calc-box-wrapper {
  padding-top: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  .list-box-wrapper {
    display: flex;
    flex-direction: column;
    height: min-content;
    width: max-content;
    align-items: end;
    gap: 10px;
    .subject-btn {
      width: 100px;
      font-weight: bold;
      line-height: 30px;
      background-color: #5a91f7;
      border-radius: 10px;
      color: black;
      &:active {
        color: white;
      }
    }
  }

  .subject-calc-box-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 170px;
    background-color: #5a91f7;
    border-radius: 10px;
    .subject-calc-box {
      background-color: rgba(198, 225, 255, 0.7);
      display: inline-grid;
      width: min-content;
      height: min-content;
      grid-template-columns: 80px repeat(5, 60px);
      grid-template-rows: 30px repeat(4, 30px);
      text-align: center;
      .head {
        background-color: #5a91f7;
        line-height: 30px;
      }
      .sum {
        background-color: bisque;
      }
      input {
        width: 60px;
        text-align: center;
        box-sizing: border-box;
        background-color: white;
        border: 1px solid #5a91f7;
        border-radius: 5px;
        &:focus {
          outline: 1px solid rgba(198, 225, 255, 0.7);
        }
      }
    }
  }
}

.list-box {
  width: 300px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  background-color: #5a91f7;
  box-sizing: content-box;
  border-radius: 5em;
  label {
    line-height: 30px;
  }
  select {
    width: 160px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(198, 225, 255, 0.7);
    border-radius: 10px;
    padding-left: 3px;
    &:focus {
      border-color: rgb(14, 90, 255);
      outline: 1px solid rgba(198, 225, 255, 0.7);
      background-color: rgba(198, 225, 255, 0.7);
    }
  }
}
