$MAIN_COLOR: #5a91f7;
$WRAPPER_COLOR: rgba(198, 225, 255, 0.7);
$WRAPPER_SHADOW_COLOR: rgba(86, 71, 255, 0.9);
$BOX_SHADOW: 5px 7px 15px 3px $WRAPPER_SHADOW_COLOR;
$SUB_BOX_SHADOW: 0px 1px 2px 0px $WRAPPER_SHADOW_COLOR;
$DISABLED_COLOR: rgb(121, 153, 213);
